<div class="cart-container">
  <h2>Your Shopping Cart</h2>
  <div class="cart-items">
    <div class="cart-header">
      <div class="item-image">Image</div>
      <div class="item-name">Article Name</div>
      <div class="item-price">Price</div>
      <div class="item-quantity">Quantity</div>
      <div class="item-total">Total</div>
      <div class="item-remove"></div>
    </div>
    <div *ngIf="(numOfItems$ | async) === 0" class="empty-cart-message">
        <p class="message-text">Ups... Your cart is empty. Browse our products and start shopping!</p>
    </div>
    <div *ngFor="let item of cartItems$ | async" class="cart-item">
      <div class="item-image">
        <img [src]="item.part.imgURLs[0]" alt="{{ item.part.name }}">
      </div>
      <div class="item-name">{{ item.part.name }}</div>
      <div class="item-price">${{ item.part.price }}</div>
      <div class="item-quantity">
        <input type="number" [(ngModel)]="item.orderQuantity" (change)="updateQuantity(item, item.orderQuantity)">
      </div>
      <div class="item-total">${{ item.part.price * item.orderQuantity }}</div>
      <div class="item-remove">
        <button mat-button color="warn" (click)="removeItem(item)">Remove</button>
      </div>
    </div>
  </div>
  <div *ngIf="(numOfItems$ | async) != 0" class="cart-summary">
    <h4>Grand Total: ${{ grandTotal$ | async}}</h4>
    <div class="cart-buttons">
      <button mat-raised-button color="warn" (click)="clearCart()">Clear Cart</button>
      <button mat-raised-button color="primary" (click)="checkoutClick()">Checkout</button>
    </div>
  </div>
</div>
