<mat-toolbar color="primary">
  <span><mat-icon>build</mat-icon> Car Fix Guru</span>
  <div class="spacer"></div>
  <a mat-button routerLink="part-categories" routerLinkActive="active-link">Home</a>
  <a mat-button routerLink="parts" routerLinkActive="active-link">Parts & Tools</a>
  <a mat-button routerLink="articles" routerLinkActive="active-link">Articles</a>
  <a *ngIf="!(user$ | async)" mat-button routerLink="login" routerLinkActive="active-link">Log In</a>
  <a *ngIf="user$ | async" mat-button routerLink="profile" routerLinkActive="active-link">Profile</a>
  <button *ngIf="user$ | async" mat-raised-button color="accent" (click)="logOut()">Log Out</button>
</mat-toolbar>