<div class="car-page">
    <div class="car-form">
        <img src="./assets/audi-icon.png" alt="Car Icon" class="car-icon">
        <form>
            <div class="form-group">
                <label for="brand">Brand:</label>
                <input type="text" id="brand" name="brand" class="form-control" [(ngModel)]="car.brand">
            </div>
            <div class="form-group">
                <label for="model">Model:</label>
                <input type="text" id="model" name="model" class="form-control" [(ngModel)]="car.model">
            </div>
            <div class="form-group">
                <label for="generation">Generation:</label>
                <input type="text" id="generation" name="generation" class="form-control" [(ngModel)]="car.generation">
            </div>
            <div class="form-group">
                <label for="yearFrom">Year from:</label>
                <input type="number" id="yearFrom" name="yearFrom" class="form-control" [(ngModel)]="car.yearFrom">
            </div>
            <div class="form-group">
                <label for="yearTo">Year to:</label>
                <input type="number" id="yearTo" name="yearTo" class="form-control" [(ngModel)]="car.yearTo">
            </div>
            <div class="form-group">
                <label for="engines">Engines:</label>
                <ng-select class="custom-select" name="selectedEngines" [(ngModel)]="car.engineIDs" [multiple]="true">
                    <ng-option *ngFor="let engine of engines" [value]="engine.id">{{ engine.code }}</ng-option>
                </ng-select>
            </div>
            <div class="form-group">
                <label for="transmissions">Transmissions:</label>
                <ng-select class="custom-select" name="selectedTransmissions" [(ngModel)]="selectedTransmissions" [multiple]="true">
                    <ng-option *ngFor="let transmission of transmissions" [value]="transmission.id">{{ transmission.make }}{{ transmission.model }}</ng-option>
                </ng-select>
            </div>
            <button mat-raised-button color="primary">Save</button>
        </form>
    </div>
    <!-- <div>
        <label for="transmissions">Transmissions:</label>
        <ng-select class="custom" [items]="transmissions" 
            bindLabel="model" 
            bindValue="id" 
            [(ngModel)]="selectedTransmissions"
            [multiple]="true">
        </ng-select>
    </div> -->
</div>
