.car-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.car-form {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    text-align: center;
    width: 520px;
    margin-top: 30px;
}
  
.car-icon {
    max-width: 130px;
    margin-bottom: 15px;
}
  
.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
  
.label {
    text-align: left;
    margin-right: 10px;
}
  
.form-control {
    width: 410px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
button {
    margin-top: 10px;
    width: 25%;
}

.select {
    width: 428px;
}

.custom-select {
    background-color: rgb(226, 225, 225);
    width: 428px;
    height: 100px;
}

