.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    padding-bottom: 0px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .category-img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .category-name {
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
  }