.engine-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.engine-form {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    text-align: center;
    width: 400px;
    margin-top: 50px;
}
  
.engine-icon {
    max-width: 130px;
    margin-bottom: 20px;
}
  
.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
  
.label {
    text-align: left;
    margin-right: 10px;
}
  
.form-control {
    width: 250px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
button {
    margin-top: 10px;
    width: 30%;
}

select.form-control {
    width: 268px;
}
