<div class="engine-page">
    <div class="engine-form">
      <img src="./assets/engine-icon.png" alt="Engine Icon" class="engine-icon">
      <form [formGroup]="engineForm" (ngSubmit)="btnSaveClick()">
        <div class="form-group">
          <label for="code">Engine Code:</label>
          <input type="text" id="code" name="code" class="form-control" formControlName="code">
        </div>
        <div class="form-group">
          <label for="configuration">Configuration:</label>
          <input type="text" id="configuration" name="configuration" class="form-control" formControlName="configuration">
        </div>
        <div class="form-group">
          <label for="fuelType">Fuel Type:</label>
          <select id="fuelType" name="fuelType" class="form-control" formControlName="fuelType">
            <option value="" disabled>Select Fuel Type</option>
            <option *ngFor="let fuelType of fuelTypes" [value]="fuelType">{{ fuelType }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="displacement">Displacement(l):</label>
          <input type="number" id="displacement" name="displacement" class="form-control" formControlName="displacement">
        </div>
        <div class="form-group">
          <label for="mark">Mark:</label>
          <input type="text" id="mark" name="mark" class="form-control" formControlName="mark">
        </div>
        <div class="form-group">
          <label for="power">Power(kW):</label>
          <input type="number" id="power" name="power" class="form-control" formControlName="power">
        </div>
        <button mat-raised-button color="primary" type="submit">Save</button>
      </form>
    </div>
  </div>
  