.part-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.part-form {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    text-align: center;
    width: 520px;
    margin-top: 20px;
}
  
.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
  
.label {
    text-align: left;
    margin-right: 10px;
}
  
.form-control {
    width: 390px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  
button {
    margin-top: 10px;
    width: 30%;
}

select.form-control {
    width: 408px;
}

.custom-select {
    height: 140px;
    width: 408px;
    background-color: rgb(235, 235, 235);
}