<div class="articles-page">
  <div class="fab-button-container">
    <a href="/add-article" class="fab-button-link">
      <button mat-fab color="primary" class="fab-button">
        <mat-icon>add</mat-icon>
      </button>
    </a>
  </div>
  <div class="search-bar">
    <div class="search-field">
      <input type="text" class="search-bar-input" placeholder="Search for articles..." [(ngModel)]="searchInput">
      <button mat-raised-button color="primary" class="search-button" (click)="stringSearchClick()">
        <mat-icon class="search-icon">search</mat-icon>
        <span class="button-text">Search</span>
      </button>
    </div>
  </div>
  <div class="articles-container">
    <div class="car-select">
      <app-car-select-card (buttonClicked)="onCarSearchButtonClicked($event)"></app-car-select-card>
    </div>
    <div *ngIf="articles$" class="articles-list">
      <div class="article-card" *ngFor="let article of articles$ | async">
        <h3>{{ article.headline }}</h3>
        <p class="description">{{ article.description }}</p>
        <button mat-raised-button color="accent" (click)="btnReadMoreClick(article.id)">Read More</button>
      </div>
      <div class="page-selector" *ngIf="getTotalPages() > 1">
        <div>
          <button mat-raised-button *ngIf="pageNumber > 1" class="page-button" color="primary" (click)="onPageChange(false)"> &lt; Previous</button>
          <input class="page-number" type="text" [(ngModel)]="pageNumber">
        </div>
        <div class="page-number-text"> of {{ getTotalPages() }}</div>
        <div>
          <button mat-raised-button *ngIf="pageNumber < getTotalPages()" class="page-button" color="primary" (click)="onPageChange(true)">Next &gt;</button>
        </div>
      </div>
    </div>
    <div *ngIf="!articles$" class="no-articles">NO ARTICLES FOUND!</div>
  </div>
</div>
