<div class="page-container">
    <div *ngIf="article" class="article-page">
        <h1 class="headline">{{ article.headline }}</h1>
        <div class="text"><a class="dividing-headline">Car</a>Audi A6 C7(4G) 2L TDI 130KW</div>
        <div class="text"><a class="dividing-headline">Description</a>{{ article.description }}</div>
        <div class="article-text"><a class="dividing-headline">Article</a>
            <p class="text">{{ article.text }}</p>
        </div>
        <div class="images"><a class="dividing-headline">Images</a>
        <img *ngFor="let imageUrl of article.imgURLs" [src]="imageUrl" alt="Article Image">
        </div>
        <div class="links-paragraph"><a class="dividing-headline">Parts</a>{{ article.parts }}</div>
        <div class="links-paragraph"><a class="dividing-headline">Tools</a>{{ article.tools }}</div>
    </div>
    <div *ngIf="!article" class="article-page">
        <h2>Oops, the article does not exist.</h2>
    </div>
</div>