<div class="container">
  <div class="page-content">
    <app-about-us></app-about-us>
    <h2 class="articles-section-text">Our Newest Articles</h2>
    <div class="article-container">
      <div class="article" *ngFor="let article of articles$ | async">
        <div class="article-content">
          <h2><strong>{{ article.headline }}</strong></h2>
          <p>{{ article.description }}</p>
          <button mat-raised-button color="primary" class="read-more-button" (click)="readMoreClick(article.id)">Read More</button>
        </div>
      </div>
    </div>
  </div>
</div>
