.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
  padding: 20px;
}

.search-bar {
  width: 100%;
  max-width: 800px;
  margin-bottom: 30px;
  text-align: center;
  align-self: center;
}

.search-field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.search-bar-input {
  width: 70%;
  height: 34px;
}

.search-button {
  height: 38px;
}

.page-content {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
}

.left-column {
  flex: 1;
  padding-right: 20px;
}

.right-column {
  flex: 2;
}

.parts-text {
  font-size: 18px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.part-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
