<div class="container">
  <div class="search-bar">
    <div class="search-field">
      <input class="search-bar-input" type="text" placeholder="  Enter the part number or name">
      <button mat-raised-button color="primary" class="search-button">
        <mat-icon class="search-icon">search</mat-icon>
        <span class="button-text">Search</span>
      </button>
    </div>
  </div>
  <div class="page-content">
    <div class="left-column">
      <app-car-select-card class="car-select"></app-car-select-card>
    </div>
    <div class="right-column">
      <a class="parts-text">Parts You may be interested in</a>
      <div class="part-cards">
        <app-part-card></app-part-card>
        <app-part-card></app-part-card>
        <app-part-card></app-part-card>
      </div>
    </div>
  </div>
</div>
