<div class="part-card" (click)="onClick()">
    <div class="part-image">
      <img [src]="part && part.imgURLs[0] ? (imgPath + '/' + part.imgURLs[0]) : './assets/part.png'" alt="{{ part.name }}">
    </div>
    <div class="part-details">
      <div class="spacer">
        <h3>{{ part.manufacturer }} {{ part.name | slice:0:45 }}
          <span *ngIf="part.name.length > 45">...</span>
        </h3>
      </div>
      <p class="article-no">Article No: {{ part.referenceNumber }}</p>
      <p>Price: ${{ part.price }}</p>
      <p class="stock-indicator" [ngClass]="{'in-stock': part.quantity > 0, 'out-of-stock': part.quantity === 0}">
        {{ part.quantity > 0 ? '*In Stock' : '*Out of Stock' }}
      </p>
      <button mat-button class="btn-buy" [disabled]="part.quantity===0" (click)="addToCart(part)">Buy
        <mat-icon class="cart-icon">shopping_cart</mat-icon>
      </button>
    </div>
</div>
  