.about-us-page {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-family: Arial, sans-serif;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
}

.logo img {
    max-width: 200px;
    height: auto;
    margin-right: 20px;
}

.site-name {
    font-size: 36px;
    margin-bottom: 10px;
    color: #3f51b5;
    text-transform: uppercase;
}

.description {
    font-size: 18px;
    text-align: left;
    line-height: 1.5;
    max-width: 600px;
}

  