<div class="article-page">
  <div class="article-form">
    <form [formGroup]="articleForm">
      <div class="form-group">
        <label for="headline">Headline:</label>
        <input type="text" id="headline" name="headline" class="form-control" formControlName="headline">
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" name="description" class="form-control" rows="3" formControlName="description"></textarea>
      </div>
      <div class="form-group">
        <label for="text">Text:</label>
        <textarea id="text" name="text" class="form-control" rows="10" formControlName="text"></textarea>
      </div>
      <div class="form-group">
        <label for="parts">Parts:</label>
        <textarea id="parts" name="parts" class="form-control" rows="2" formControlName="parts"></textarea>
      </div>
      <div class="form-group">
        <label for="tools">Tools:</label>
        <textarea id="tools" name="tools" class="form-control" rows="2" formControlName="tools"></textarea>
      </div>
      <div class="form-group">
        <label for="imgURLs">Images:</label>
        <input type="file" id="imgURLs" name="imgURLs" class="form-control" formControlName="imgURLs" (change)="onSelect($event)" multiple>
      </div>
      <div class="form-group">
        <label for="car">Car:</label>
        <ng-select class="custom-select" name="selectedCars" formControlName="carId" [multiple]="true">
          <ng-option *ngFor="let car of cars" [value]="car.id">{{ car.brand }}{{ car.model }}</ng-option>
        </ng-select>
      </div>
      <button mat-raised-button color="primary" (click)="onSave()">Save</button>
    </form>
  </div>
</div>
