<div class="car-parts-page">
  <div class="search-bar">
    <div class="search-field">
      <input class="search-bar-input" type="text" placeholder="  Enter the part number or name">
      <button mat-raised-button color="primary" class="search-button">
        <mat-icon class="search-icon">search</mat-icon>
        <span class="button-text">Search</span>
      </button>
    </div>
  </div>
  <button mat-fab color="primary" class="fab-button" (click)="btnAddClick()">
    <mat-icon>add</mat-icon>
  </button>
  <div class="main-content">
    <div class="left-column">
      <app-car-select-card [collapsed]="false"></app-car-select-card>
    </div>

    <div class="right-column">
      <div class="parts-manufacturers-banner"> 

      </div>
      <mat-paginator
        [length]="partsCount$ | async" 
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="onPageChange()"
      ></mat-paginator>

      <div class="part-cards">
        <div class="part-card" *ngFor="let part of parts$ | async">
          <app-part-card [part]="part" (click)="partCardClick(part)"></app-part-card>
        </div>
      </div>
    </div>
  </div>
</div>
