*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-container {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.headers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 80px;
  margin-left: -60px; 
}

.header {
  margin: 10px 0;
}

.header h1 {
  font-size: 28px;
}

.header h2 {
  font-size: 18px;
  color: #555;
}

.form-flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}

.register-form {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 340px;
}

.register-header {
  text-align: center;
  margin-bottom: 20px;
}

.register-header h1 {
  font-size: 26px;
}

.register__field {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.register__input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
  margin-right: 3px;
  margin-left: 3px;
}

.register__submit {
  /* background-color: #007bff; */
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  width: 99%;
}

/* .register__submit:hover {
  background-color: #0056b3;
} */

.clickable-link {
  color: #007bff;
  text-decoration: none;
}

.clickable-link:hover {
  text-decoration: underline;
}

.a {
  text-align: center;
  margin-top: 10px;
}