<div class="part-page">
  <div class="part-form">
    <form [formGroup]="partForm">
      <div class="form-group">
        <label for="name">Part name:</label>
        <input type="text" id="name" name="name" class="form-control" formControlName="name">
      </div>
      <div class="form-group">
        <label for="manufacturer">Manufacturer:</label>
        <input type="text" id="manufacturer" name="manufacturer" class="form-control" formControlName="manufacturer">
      </div>
      <div class="form-group">
        <label for="category">Category:</label>
        <select id="category" name="category" class="form-control" formControlName="category" (change)="onCategoryChange()">
          <option *ngFor="let category of partCategories" [value]="category.name">{{ category.name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="subCategory">Subcategory:</label>
        <select id="subCategory" name="subCategory" class="form-control" formControlName="subCategory">
          <option *ngFor="let subCategory of subCategories" [value]="subCategory.subCategory">{{ subCategory.subCategory }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="referenceNumber">Article no:</label>
        <input type="text" id="referenceNumber" name="referenceNumber" class="form-control" formControlName="referenceNumber">
      </div>
      <div class="form-group">
        <label for="engines">Engines:</label>
        <ng-select class="custom-select" name="selectedEngines" formControlName="engineIDs" [multiple]="true" [(ngModel)]="selectedEngines">
          <ng-option *ngFor="let engine of engines" [value]="engine.id">{{ engine.code }}</ng-option>
        </ng-select>
      </div>
      <div class="form-group">
        <label for="cars">Cars:</label>
        <ng-select class="custom-select" name="selectedCars" formControlName="carIDs" [multiple]="true">
          <ng-option *ngFor="let car of cars" [value]="car.id">{{ car.brand }}{{ car.model }}</ng-option>
        </ng-select>
      </div>
      <div class="form-group">
        <label for="price">Price(USD):</label>
        <input type="number" id="price" name="price" class="form-control" formControlName="price">
      </div>
      <div class="form-group">
        <label for="quantity">Quantity(PCS):</label>
        <input type="number" id="quantity" name="quantity" class="form-control" formControlName="quantity">
      </div>
      <div class="form-group">
        <label for="images">Images:</label>
        <input type="file" id="images" name="images" class="form-control" (change)="onSelect($event)" multiple>
      </div>
      <button mat-raised-button color="primary" (click)="savePart()">Save</button>
    </form>
  </div>
</div>
